.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 42px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.article-list-item .article-list-item-heading {
	font-size: 18px;
	line-height: 22px;
	margin: 0 0 6px 0;
	white-space: normal;
}

.article-list-item p {
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 6px 0;
	white-space: normal;
}

.article-list-item-thumbnail {
	width: 90px;
	float: right;
}

.header-logo {
	float: left;
	height: 40px;
	width: 180px;
	font-size: 20px;
	line-height: 40px;
	text-indent: 20px;
	color: #000000;
}

.header-back-button {
	float: left;
	height: 40px;
	width: 180px;
	background: url('../img/phillipian_header_back_btn.png');
}

.ui-header {
	height: 42px;
}
.article-view-content {
	top: 75px;
}

.article-view-content h1 {
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 6px 0;
	white-space: normal;
}
.article-view-content p{
	line-height: 18px;
	margin: 0 0 6px 0;
}

.article-view-image-description {
	font-size: 10px;
}

.article-view-body p{
	line-height: 1.3em;
	margin-bottom: 1em;
}

.ui-header .ui-select {
	float: right;
}